<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Facebook Suite">
	<!--<listeners>
   		<listener class-name ="ca.richardf.selenium.utility.RetryListener" /> 
  	</listeners> -->
 	<test name="FacebookTest">
    <parameter name="browser" value="Chrome"/>
    	<classes>  
      		<class name="ca.richardf.selenium.test.TestFacebookLogin"/>               
    	</classes>
  	</test>
</suite>